---
import PageLayout from "../../layouts/PageLayout.astro";
import Heading from "../../components/text/Heading.astro";
import { jobs } from "../../data";
---

<PageLayout title="Experience">
  <main>
    <Heading>Experience</Heading>
    <ul>
        {
          jobs.map((job) => (
            <li>
              <a href={`/experience/${job.slug}`}>
                <h2>{job.title} at {job.company.name}</h2>
                <p>{job.location}</p>
                <p>{job.date_from.toLocaleDateString()} - {job.date_to ? job.date_to.toLocaleDateString() : 'Present'}</p>
              </a>
            </li>
          ))
        }
       </ul>
  </main>
</PageLayout>