---
interface Props {
  title: string;
  description?: string;
}

const { title: pageTitle, description: pageDescription } = Astro.props;

import AOS from "../components/util/AOS.astro";
import Navbar from "../components/Navbar.astro";

import { readSingleton } from "@directus/sdk";
import directus from "../api/directus";

import { SEO } from "astro-seo";
import Background from "../components/background/Background.astro";
// import { AstroFont } from "astro-font";

const global = await directus.request(readSingleton("global"));
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={pageTitle}
      titleDefault={global.title}
      titleTemplate=`%s - ${global.title}`
      description={pageDescription || global.description}
      openGraph={{
        basic: {
          title: `${pageTitle} - ${global.title}`,
          type: "Page",
          image: "",
        },
      }}
      twitter={{
        creator: "@vladzaharia",
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          { name: "twitter:title", content: `${pageTitle} - ${global.title}` },
          {
            name: "twitter:description",
            content: pageDescription || global.description,
          },
        ],
      }}
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="text-slate-100 bg-slate-900 overflow-hidden relative">
    <Background class="w-screen h-screen absolute top-0 left-0 right-0 bottom-0">
      <Navbar />
      <main id="swup" class="h-full w-full">
        <slot />
      </main>
      <AOS />
    </Background>
  </body>
</html>
