---
interface Props {
  title: string;
  description?: string;
}

const { title: pageTitle, description: pageDescription } = Astro.props;

import directus from "../api/directus";
import { readSingleton } from "@directus/sdk";
import { SEO } from "astro-seo";

const global = await directus.request(readSingleton("global"));
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={pageTitle}
	  titleDefault={global.title}
	  titleTemplate=`%s - ${global.title}`
      description={pageDescription || global.description}
      openGraph={{
        basic: {
          title: `${pageTitle} - ${global.title}`,
          type: "Page",
		  image: "",
        },
      }}
      twitter={{
        creator: "@vladzaharia",
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          { name: "twitter:title", content: `${pageTitle} - ${global.title}` },
          { name: "twitter:description", content: pageDescription || global.description },
        ],
      }}
    />
    <title>{pageTitle}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
