---
interface Props {
  title: string;
  description?: string;
}

import AOS from '../components/util/AOS.astro';
import Navbar from '../components/Navbar.astro';
import { SEO } from 'astro-seo';
import Background from '../components/background/Background.astro';
import { AstroFont } from 'astro-font';

const { title: pageTitle, description: pageDescription } = Astro.props;

export const global = {
  title: 'Vlad Zaharia',
  description: 'Software Engineer & Tech Enthusiast',
};

interface FontSource {
  path: string;
  preload?: boolean;
  css?: Record<string, string>;
  style:
    | 'normal'
    | 'italic'
    | 'oblique'
    | `oblique ${number}deg`
    | 'inherit'
    | 'initial'
    | 'revert'
    | 'revert-layer'
    | 'unset'
    | (string & {});
  weight?:
    | 'normal'
    | 'bold'
    | 'lighter'
    | 'bolder'
    | 'inherit'
    | 'initial'
    | 'revert'
    | 'revert-layer'
    | 'unset'
    | 100
    | 200
    | 300
    | 400
    | 500
    | 600
    | 700
    | 800
    | 900
    | '100'
    | '200'
    | '300'
    | '400'
    | '500'
    | '600'
    | '700'
    | '800'
    | '900'
    | (string & {})
    | (number & {});
}

interface FontConfig {
  name: string;
  src: FontSource[];
  fetch?: boolean;
  verbose?: boolean;
  selector?: string;
  preload?: boolean;
  cacheDir?: string;
  basePath?: string;
  fallbackName?: string;
  googleFontsURL?: string;
  cssVariable?: string | boolean;
  fallback: 'serif' | 'sans-serif' | 'monospace';
  display: 'auto' | 'block' | 'swap' | 'fallback' | 'optional' | (string & {});
}

const fontConfig: FontConfig[] = [
  {
    name: 'Rubik',
    src: [],
    googleFontsURL:
      'https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap',
    preload: true,
    display: 'swap',
    selector: 'body, h1, h2, h3, h4, h5, h6',
    fallback: 'sans-serif',
  },
  {
    name: 'JetBrains Mono',
    src: [],
    googleFontsURL:
      'https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap',
    preload: true,
    display: 'auto',
    fallback: 'monospace',
  },
  {
    name: 'Space Mono',
    src: [],
    googleFontsURL:
      'https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap',
    preload: true,
    display: 'auto',
    fallback: 'monospace',
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <SEO
      title={pageTitle}
      titleDefault={global.title}
      titleTemplate={`%s - ${global.title}`}
      description={pageDescription || global.description}
      openGraph={{
        basic: {
          title: `${pageTitle} - ${global.title}`,
          type: 'Page',
          image: '',
        },
      }}
      twitter={{
        creator: '@vladzaharia',
      }}
      extend={{
        link: [{ rel: 'icon', href: '/favicon.ico' }],
        meta: [
          { name: 'twitter:title', content: `${pageTitle} - ${global.title}` },
          {
            name: 'twitter:description',
            content: pageDescription || global.description,
          },
        ],
      }}
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <AstroFont config={fontConfig} />
    <style is:global>
      [data-glow] {
        position: relative;
      }

      [data-glow]:hover {
        box-shadow: 0 0 2rem -0.5rem var(--glow-color);
      }
    </style>
  </head>
  <body class="text-slate-100 bg-slate-900 overflow-hidden relative">
    <Background class="w-screen h-screen absolute top-0 left-0 right-0 bottom-0">
      <Navbar />
      <main id="swup" class="h-full w-full">
        <slot />
      </main>
      <AOS />
    </Background>
  </body>
</html>
