---
interface Props {
  title: string;
  description?: string;
}

import AOS from "../components/util/AOS.astro";
import Navbar from "../components/Navbar.astro";
import { SEO } from "astro-seo";
import Background from "../components/background/Background.astro";
import { join } from "node:path";
import { AstroFont } from "astro-font";
import { global } from "../data";

const { title: pageTitle, description: pageDescription } = Astro.props;

const fontPrefix = import.meta.env.PROD
  ? Astro.site!.toString()
  : join(process.cwd(), "public");

const fontConfig = [
  {
    name: "Rubik",
    src: [
      {
        style: "normal",
        weight: "300",
        path: join(fontPrefix, "fonts", "Rubik", "Normal.woff2"),
      },
      {
        style: "normal",
        weight: "400",
        path: join(fontPrefix, "fonts", "Rubik", "Normal.woff2"),
      },
      {
        style: "normal",
        weight: "500",
        path: join(fontPrefix, "fonts", "Rubik", "Normal.woff2"),
      },
      {
        style: "normal",
        weight: "600",
        path: join(fontPrefix, "fonts", "Rubik", "Normal.woff2"),
      },
      {
        style: "normal",
        weight: "700",
        path: join(fontPrefix, "fonts", "Rubik", "Normal.woff2"),
      },
      {
        style: "normal",
        weight: "800",
        path: join(fontPrefix, "fonts", "Rubik", "Normal.woff2"),
      },
      {
        style: "italic",
        weight: "300",
        path: join(fontPrefix, "fonts", "Rubik", "Italic.woff2"),
      },
      {
        style: "italic",
        weight: "400",
        path: join(fontPrefix, "fonts", "Rubik", "Italic.woff2"),
      },
      {
        style: "italic",
        weight: "500",
        path: join(fontPrefix, "fonts", "Rubik", "Italic.woff2"),
      },
      {
        style: "italic",
        weight: "600",
        path: join(fontPrefix, "fonts", "Rubik", "Italic.woff2"),
      },
      {
        style: "italic",
        weight: "700",
        path: join(fontPrefix, "fonts", "Rubik", "Italic.woff2"),
      },
      {
        style: "italic",
        weight: "800",
        path: join(fontPrefix, "fonts", "Rubik", "Italic.woff2"),
      },
    ],
    preload: true,
    display: "swap",
    selector: "h1, h2, h3, h4, h5, h6",
    fallback: "sans-serif",
  },
  {
    name: "Atkinson Hyperlegible",
    src: [
      {
        style: "normal",
        weight: "400",
        path: join(fontPrefix, "fonts", "AtkinsonHyperlegible", "Regular-400.woff2"),
      },
      {
        style: "normal",
        weight: "700",
        path: join(fontPrefix, "fonts", "AtkinsonHyperlegible", "Bold-700.woff2"),
      },
      {
        style: "italic",
        weight: "400",
        path: join(fontPrefix, "fonts", "AtkinsonHyperlegible", "Regular-400-Italic.woff2"),
      },
      {
        style: "italic",
        weight: "700",
        path: join(fontPrefix, "fonts", "AtkinsonHyperlegible", "Bold-700-Italic.woff2"),
      },
    ],
    preload: true,
    display: "swap",
    selector: "body",
    fallback: "sans-serif",
  },
];

---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={pageTitle}
      titleDefault={global.title}
      titleTemplate={`%s - ${global.title}`}
      description={pageDescription || global.description}
      openGraph={{
        basic: {
          title: `${pageTitle} - ${global.title}`,
          type: "Page",
          image: "",
        },
      }}
      twitter={{
        creator: "@vladzaharia",
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          { name: "twitter:title", content: `${pageTitle} - ${global.title}` },
          {
            name: "twitter:description",
            content: pageDescription || global.description,
          },
        ],
      }}
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <AstroFont config={fontConfig} />
  </head>
  <body class="text-slate-100 bg-slate-900 overflow-hidden relative">
    <Background
      class="w-screen h-screen absolute top-0 left-0 right-0 bottom-0"
    >
      <Navbar />
      <main id="swup" class="h-full w-full">
        <slot />
      </main>
      <AOS />
    </Background>
  </body>
</html>
